body{
	cursor:url('http://my.oschina.net/mycursor/pointer.cur');
	background-image:url(../img/background.jpg)}
p{
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}